form, .hide-spinner {
    display: none;
}

.show-form {
    display: block;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

.valid-input, .invalid-input {
    border-radius: 3px;
    outline: none;
}

.valid-input {
    border: solid 1px green;
}

.invalid-input {
    border: solid 1px red;
}

.error-message {
    color: red;
}

/* Spinner */
/*
#spinner {
    width: 40px;
    height: 40px;  
    position: relative;
    margin: 100px auto;
}

.circle-c1, .circle-c2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;    
    animation: spinner 2.0s infinite ease-in-out;
}

.circle-c2 {
    animation-delay: -1.0s;
}

@keyframes spinner {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
*/
.show-spinner {
    display: block;
}